<configuration>
  <components>


    <component
		  id="MappingManager"
		  lifestyle="Transient"
		  service="GatherContent.Connector.Managers.Interfaces.IMappingManager, GatherContent.Connector.Managers"
		  type="GatherContent.Connector.Managers.Managers.MappingManager,GatherContent.Connector.Managers">
    </component>

    <component
		  id="ImportManager"
		  lifestyle="Transient"
		  service="GatherContent.Connector.Managers.Interfaces.IImportManager, GatherContent.Connector.Managers"
		  type="GatherContent.Connector.Managers.Managers.ImportManager,GatherContent.Connector.Managers">
    </component>

    <component
		  id="UpdateManager"
		  lifestyle="Transient"
		  service="GatherContent.Connector.Managers.Interfaces.IUpdateManager, GatherContent.Connector.Managers"
		  type="GatherContent.Connector.Managers.Managers.UpdateManager,GatherContent.Connector.Managers">
    </component>
    
    
    <component
		  id="AccountRepository"
		  lifestyle="Transient"
		  service="GatherContent.Connector.IRepositories.Interfaces.IAccountsRepository, GatherContent.Connector.IRepositories"
		  type="GatherContent.Connector.KenticoRepositories.Repositories.AccountRepository, GatherContent.Connector.KenticoRepositories">
    </component>

    <component
      id="MediaRepository"
      lifestyle="Transient"
      service="GatherContent.Connector.IRepositories.Interfaces.IMediaRepository`2[[CMS.MediaLibrary.MediaFileInfo, CMS.MediaLibrary],[CMS.DocumentEngine.TreeNode, CMS.DocumentEngine]], GatherContent.Connector.IRepositories"
      type="GatherContent.Connector.KenticoRepositories.Repositories.MediaRepository, GatherContent.Connector.KenticoRepositories">
    </component>

    <component
      id="ItemsRepository"
      lifestyle="Transient"
      service="GatherContent.Connector.IRepositories.Interfaces.IItemsRepository, GatherContent.Connector.IRepositories"
      type="GatherContent.Connector.KenticoRepositories.Repositories.ItemsRepository, GatherContent.Connector.KenticoRepositories">
    </component>

    <component
      id="LogRepository"
      lifestyle="Transient"
      service="GatherContent.Connector.IRepositories.Interfaces.ILogRepository, GatherContent.Connector.IRepositories"
      type="GatherContent.Connector.KenticoRepositories.Repositories.LogRepository, GatherContent.Connector.KenticoRepositories">
    </component>

    <component
      id="MappingRepository"
      lifestyle="Transient"
      service="GatherContent.Connector.IRepositories.Interfaces.IMappingRepository, GatherContent.Connector.IRepositories"
      type="GatherContent.Connector.KenticoRepositories.Repositories.MappingRepository, GatherContent.Connector.KenticoRepositories">
    </component>

    <component
      id="CacheManager"
      lifestyle="Transient"
      service="GatherContent.Connector.Managers.Interfaces.ICacheManager, GatherContent.Connector.Managers"
      type="GatherContent.Connector.Managers.Managers.CacheManager, GatherContent.Connector.Managers">
    </component>
    
  </components>
</configuration>